<div class="footer" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="3%">
    <div fxFlex="30%">
        <h2>Navigation</h2>
        <p><a routerLink="/">About me</a></p>
        <p><a routerLink="/portfolio">Portfolio</a></p>
        <p><a routerLink="/portfolio">Blog</a></p>
        <p><a routerLink="/portfolio">Contact</a></p>
    </div>
    <div fxFlex="30%">
        <h2>Last posts</h2>
        <p><a routerLink="/">About me</a></p>
        <p><a routerLink="/portfolio">Portfolio</a></p>
        <p><a routerLink="/portfolio">Blog</a></p>
        <p><a routerLink="/portfolio">Contact</a></p>
    </div>
    <div fxFlex="30%">
        <h2>Contact me</h2>
        <p><a routerLink="/">About me</a></p>
        <p><a routerLink="/portfolio">Portfolio</a></p>
        <p><a routerLink="/portfolio">Blog</a></p>
        <p><a routerLink="/portfolio">Contact</a></p>
    </div>
</div>