<div class="footer fx-row fx-wrap fx-column-sm fx-column-xs fx-justify-between fx-align-start fx-center  fx-gap-24">
    <div class="footer-item fx-flex-30">
        <h2>Navigation</h2>
        <div class="nav-items fx-center fx-row fx-wrap fx-gap-8">
            <a routerLink="/" mat-button>About me</a>
            <a routerLink="/portfolio" mat-button>Portfolio</a>
            <a routerLink="/blog" mat-button>Blog</a>
            <a routerLink="/contact" mat-button>Contact</a>
        </div>
    </div>
    <div class="footer-item fx-flex-30">
        <!-- <h2>Last posts</h2>
        <mat-chip-list style="text-align: center;">
            <a mat-button mat-chip [selected]="true" *ngFor="let post of lastPosts" (click)="navigate('/blog/post/'+post.id)" >{{ post.title }}</a>
            <a mat-button mat-chip [selected]="true" routerLink="/blog">Mas ...</a>
        </mat-chip-list> -->
    </div>
    <div class="footer-item fx-flex-30 fx-column fx-center fx-justify-center">
        <h2>Contact me</h2>
        <div class="fx-column fx-gap-8">
            <p style="margin: 0"><b>Email: </b>info&#64;nuveapps.com</p>
            <!-- <p style="margin: 0"><b>Telefono: </b>+34 603 xx xx xx</p> -->
        </div>
        <div class="fx-flex-40 fx-row fx-center fx-gap-8">
            <a href="https://github.com/tovaz" target="_blank"><img class="social-image" src="assets/images/github.svg" /></a>
            <a href="https://www.linkedin.com/in/william-valdez-97a47aa7/" target="_blank"><img class="social-image" src="assets/images/linkedin.svg" /></a>
            <a href="https://www.behance.net/williamvaldez" target="_blank"><img class="social-image" src="assets/images/behance.svg" /></a>
            <!-- <a href="https://www.youtube.com/channel/UCHNW8Dpl--qOnn5SXOH84iA" target="_blank"><img class="social-image" src="assets/images/youtube.svg" /></a> -->
        </div>
    </div>
</div>
