.footer {
    padding: 20px 0;
    background: #222;
    color: #fff;
    text-align: center;

    h3 { margin: 0; }
    .social-image{
        margin: 5px 0;
        width: 35px;
    }
}


::ng-deep {
  a {
    color: #efefef !important;
    span {
      color: #efefef !important;
    }
  }
}

@media (max-width: 599px) {
    .footer-item {
        width: 100%;
    }

    .nav-item {
      a {
        width: 50%;
      }
    }
}
