.contact {
    padding: 20px;
    p { display: none; margin: 0; }
    textarea {
        min-height: 150px;
    }

    .invalid {
        color: var(--warning);
        display: block;
        font-weight: bold;
    }

    button {
        max-width: 200px !important;
        margin: 0 auto;
        min-width: 100px;
        height: 56px !important;
    }
}