<div class="contact hide-on-init fx-flex fx-row fx-column-sm fx-column-xs fx-center" style="padding: 2rem; max-width: 1200px; margin: 0 auto;" animateOnScroll animationName="animated fadeIn">
    <div class="fx-flex-100 fx-center fx-column" style="text-align: center; padding: 2rem;" *ngIf="!sentEmail">
        <h2 class="mb-4">Get in touch with me</h2>
        <img src="assets/images/contact.svg" style="width: 200px; height: auto;" />
    </div>

    <div class="fx-flex-100 fx-center fx-column" *ngIf="sentEmail" style="text-align: center;">
        <h2>Thank you for contact me, I will answer you asap ...</h2>
        <img src="assets/images/thank-you.svg" style="width: 200px; height: auto;" class="fx-hide-xs"/>
    </div>

    <form [formGroup]="contactForm" class="fx-column fx-gap-16" style="max-width: 800px;"
          (ngSubmit)="sendMail()" *ngIf="!sentEmail">
        <div class="fx-row fx-column-xs fx-gap-16 fx-fill">
            <div class="fx-flex-grow">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Name *</mat-label>
                    <input matInput formControlName="name" style="font-size: 1.1rem;">
                </mat-form-field>
            </div>

            <div class="fx-flex-grow">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Phone </mat-label>
                    <input matInput formControlName="phone" style="font-size: 1.1rem;">
                </mat-form-field>
            </div>
        </div>

        <div class="fx-column fx-gap-16 fx-fill">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Email *</mat-label>
                <input matInput formControlName="email" type="email" style="font-size: 1.1rem;">
            </mat-form-field>
        </div>

        <div class="fx-column fx-gap-16 fx-fill">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Message *</mat-label>
                <textarea matInput formControlName="message" rows="6" style="font-size: 1.1rem;"></textarea>
            </mat-form-field>

            <div class="fx-flex-100">
                <ng-container *ngFor="let item of validationMessages">
                    <ng-container *ngFor="let validation of item.validations">
                        <p [class.invalid]="!contactForm.get(item.name).valid && contactForm.get(item.name).touched">{{ validation.message }}</p>
                    </ng-container>
                </ng-container>
            </div>

            <button mat-raised-button color="primary" type="submit" [disabled]="sending" style="width: 200px; height: 48px; font-size: 1.1rem;">
                <mat-spinner *ngIf="sending" [diameter]="30" style="margin:0 auto;"></mat-spinner>
                <span [hidden]="sending">Send</span>
            </button>
        </div>
    </form>
</div>
