<div style="min-height: 100vh;" class="hide-on-init" animateOnScroll animationName="animated fadeIn">
  <div style="padding: 25px; display: flex; justify-content: center;" *ngIf="!briefs">
    <mat-spinner color="primary" style="transform: scale(0.5);"></mat-spinner>
  </div>

  <div class="fx-column fx-center" style="margin-top: 20px">
    <div class="fx-flex-100" style="text-align: center;">
      <h1>Portfolio</h1>
      <h4>Some of my works a long my short life :)</h4>
    </div>
  </div>

  <div class="portfolio fx-row fx-wrap fx-column-xs fx-center fx-gap-8">
    <div class="portfolios fx-row fx-wrap fx-column-xs fx-flex-100 fx-center" style="width: 100%;">
      <mat-card *ngFor="let brief of briefs"
      class="fx-flex-30 fx-grid fx-grid-cols-4 mat-elevation-z5 pointer hide-on-init"
      style="margin: 10px; padding: 0;" matRipple
      animateOnScroll animationName="animated-d-05 animated zoomIn"
      (click)="openItem(brief)">
        <div style="height: 300px;">
          <app-image-slider
            [images]="getImageUrls(brief.images)"
            [config]="{
              autoplay: true,
              delay: 2000,
              loop: true,
              effect: 'slide',
              showNavigation: false,
              showPagination: false,
              disableOnInteraction: false
            }">
          </app-image-slider>
        </div>
        <div class="name">
          <p>{{ brief.name }}</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
