.content {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio {
    // background: rgba(var(--background-rgb), 0.8);
    //color: #fff;
    .name {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgba(var(--background-rgb), 0), rgba(var(--background-rgb), 0.8), rgba(var(--background-rgb), 0.9));;
        padding: 5px;
        color: var(--foreground);
        font-weight: bold;
        text-align: center;
        h3 { margin: 0; }
        z-index: 99;
    }
}

.portfolios {
  width: 80%;

  mat-card {
    // min-height: 25%;
    // min-width: 25%;
    height: 100%;
    width: 100%;
    // flex: 0 !important;
  }
}

mat-card {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
}

mat-card:hover {
    transform: scale(1.03);
}



.slider {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .portfolio-card {
    width: 100%;
  }

  .technology {
    .fx-grid {
      grid-template-columns: repeat(4, 50px) !important;
    }
    .tech-item {
      width: 50px !important;
      height: 50px;
      img { width: 50px !important; }
    }
  }
}

@media screen and (max-width: 400px) {
  .portfolio-card {
    width: 100%;
  }

  .technology {
    .fx-grid {
      grid-template-columns: repeat(3, 50px) !important;
    }
    .tech-item {
      width: 50px !important;
      height: 50px;
      img { width: 50px !important; }
    }
  }
}


