.portfolio {
    background: rgba(var(--background-rgb), 0.8);
    padding: 20px;
    .name {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgba(var(--background-rgb), 0), rgba(var(--background-rgb), 0.8), rgba(var(--background-rgb), 0.9));;
        padding: 5px;
        color: var(--foreground);
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        h3 { margin: 0; }
        z-index: 99;
    }

    .carousel-slide{
      cursor: pointer !important;
    }

    mat-card {
      cursor: pointer !important;
      margin: 8px;
    }
}


