<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button class="example-icon" (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span class="space"></span>

  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="/prices">Portfolio</a>
    <a mat-button routerLink="/start-page">Blog</a>
    <a mat-button routerLink="/offer">About</a>
    <a mat-button routerLink="/contact">Contact</a>
  </div>
 </mat-toolbar>