.space {
  flex: 1 1 auto;
}

.active {
  background: var(--primary);
  color: #fff;
}

mat-toolbar{
  background: #222 !important;
  color: #fff !important;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;

  .menu-buttons {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

.floating-toolbar {
  padding-top: 16px;
  width: calc(100% - 32px);
  margin: 0 auto;
  border-radius: 48px;
}
