<mat-toolbar color="dark" class="fx-row fx-align-center fx-justify-between">
  <div class="fx-show fx-hide-gt-sm">
    <button mat-icon-button class="example-icon" (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span class="space"></span>

  <div class="fx-show fx-hide-lt-sm menu-buttons fx-row fx-align-center fx-gap-16">
    <a mat-button routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <a mat-button routerLinkActive="active" routerLink="portfolio">Portfolio</a>
    <a mat-button routerLinkActive="active" routerLink="blog">Blog</a>
    <a mat-button routerLinkActive="active" routerLink="contact">Contact</a>
  </div>
  <button mat-button (click)="changeTheme()" style="min-width: 50px;">
    <div style="transform: translateY(13%);">
      <svg-icon src="assets/images/dark.svg" [svgStyle]="{ 'width.px':20, 'fill':'#fff', 'height.px':20 }" *ngIf="currentTheme=='dark'" ></svg-icon>
      <svg-icon src="assets/images/sun.svg" [svgStyle]="{ 'width.px':20, 'fill':'#fff', 'height.px':20 }" *ngIf="currentTheme!='dark'"></svg-icon>
    </div>
  </button>
 </mat-toolbar>
