<mat-nav-list #appSidebar>
  <mat-list-item routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">
    <div class="menu-item">
      <mat-icon fontSet="material-icons-outlined">person</mat-icon>
      <span> About </span>
    </div>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/portfolio">
    <div class="menu-item">
      <mat-icon fontSet="material-icons-outlined">work</mat-icon>
      <span> Portfolio </span>
    </div>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/blog">
    <div class="menu-item">
      <mat-icon fontSet="material-icons-outlined">article</mat-icon>
      <span> Blog </span>
    </div>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/contact">
    <div class="menu-item">
      <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
      <span> Contact </span>
    </div>
  </mat-list-item>
</mat-nav-list>
