<mat-nav-list #appSidebar>
  <mat-list-item routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">
    <p matLine> About </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/portfolio">
    <p matLine> Portfolio </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/blog">
    <p matLine> Blog </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/contact">
    <p matLine> Contact </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>
</mat-nav-list>
