<mat-nav-list>
  <mat-list-item>
    <p matLine> Home </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>

  <mat-list-item>
    <p matLine> Portfolio </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>

  <mat-list-item>
    <p matLine> Blog </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>
  
  <mat-list-item>
    <p matLine> About </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>

  <mat-list-item>
    <p matLine> Contact </p>
    <mat-icon matListIcon>folder</mat-icon>
  </mat-list-item>
</mat-nav-list>