mat-card {
  cursor: pointer;
  margin: 8px;
}

mat-toolbar {
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
}

.card-img {
  width: 100%;
  margin: 0 auto;
  height: 160px;
  max-height: 160px;
}

.text-wrap {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.5em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.post-date {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.mat-menu-item {
  padding-left: 30px;
}

.active {
  transition: all 1s ease-in-out;
  color: white;
  background: var(--primary);
  &:hover{
    background: var(--primary)!important;
  }
}

.active:before{
  transition: all 1s ease-in-out;
  content: '◉';
  display: inline-block;
  color: white;
  padding: 0 6px 0 0;
  margin-left: -20px;
}

.search {
  // flex: 1;
  transition: border 1s ease;
  background-color: var(--background);
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 16px;
  border: 2px solid var(--background);
  min-width: 200px;

  &:focus-within {
    transition: border 1s ease;
    border: 2px solid var(--primary);
  }

  input {
    width: calc(100% - 40px);
    border: none;
    outline: none;
    background-color: var(--background);
    color: var(--foreground);
    font-size: 16px;
    margin: 5px;
    background: transparent;

    &:focus {
      border: none;
      outline: none;
    }

    &.clear{
      width: calc(100% - 80px) !important;
    }
  }

  .search-button {
    right: 15px;
  }


}

.article {
  width: 100%;
  height: auto;
}
