.technologies {
    background: rgba(var(--background-rgb), 0.8);
    padding: 20px;
    text-align: center;
    h3 { margin-top: 0; }
    h2 { font-size: 30px;}
    img {
        height: 50px;
    }
}

mat-list {
  display: flex !important;
}


.content {
  max-width: 1200px;
  margin: 0 auto;
}
