.first {
    background: rgba(var(--background-rgb), 0.8);
}

.text-wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.social-image{
    margin: 5px 0;
    width: 40px;
}

.technology {
    min-height: 100vh;
    text-align: center;

    div {
        margin: 10px;
        img {
            width: 75px;
        }
    }
}

.portfolio {
    background: rgba(var(--background-rgb), 0.8);
    min-height: 100vh;
    .name {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgba(var(--background-rgb), 0), rgba(var(--background-rgb), 0.8), rgba(var(--background-rgb), 0.9));;
        padding: 5px;
        color: var(--foreground);
        font-weight: bold;
        text-align: center;
        h3 { margin: 0; }
    }
}

mat-card:hover {
    transition: transform 0.5s;
    transform: scale(1.03);
}

mat-card {
    transition: transform 0.2s;
    transform: scale(1);
    border-radius: 10px;
    margin: 10px;
    padding: 0;
}



