.first {
    background: rgba(var(--background-rgb), 0.8);
}

.text-wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.social-image{
    margin: 5px 0;
    width: 40px;
}

.technology {
    //background: rgba(var(--background-rgb), 0.8);
    text-align: center;

    div {
        margin: 10px;
        img {
            width: 75px;
        }
    }

    .tech-item {
      width: 75px;
      height: 75px;
      img { width: 75px; }
    }
}

.portfolio {
    background: rgba(var(--background-rgb), 0.8);
    //color: #fff;
    .name {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgba(var(--background-rgb), 0), rgba(var(--background-rgb), 0.8), rgba(var(--background-rgb), 0.9));;
        padding: 5px;
        color: var(--foreground);
        font-weight: bold;
        text-align: center;
        h3 { margin: 0; }
        z-index: 99;
    }
}

.portfolios {
  width: 80%;

  mat-card {
    // min-height: 25%;
    // min-width: 25%;
    height: 100%;
    width: 100%;
    // flex: 0 !important;
  }
}

mat-card:hover {
    transition: transform 0.5s;
    transform: scale(1.03);
}

mat-card {
    transition: transform 0.2s;
    transform: scale(1);
    border-radius: 10px;
    margin: 10px;
    padding: 0;
}



.slider {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .portfolio-card {
    width: 100%;
  }

  .technology {
    .fx-grid {
      grid-template-columns: repeat(4, 50px) !important;
    }
    .tech-item {
      width: 50px !important;
      height: 50px;
      img { width: 50px !important; }
    }
  }
}

@media screen and (max-width: 400px) {
  .portfolio-card {
    width: 100%;
  }

  .technology {
    .fx-grid {
      grid-template-columns: repeat(3, 50px) !important;
    }
    .tech-item {
      width: 50px !important;
      height: 50px;
      img { width: 50px !important; }
    }
  }
}
