<div class="first hide-on-init"  style=" min-height: 350px;" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center" animateOnScroll animationName="animated bounceIn">
    <div class="hide-on-init"  fxFlex="40px" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center" animateOnScroll animationName="animated-d-05 animated zoomIn">
        <!--img class="social-image" src="assets/images/facebook.svg" /-->
        <a href="https://github.com/tovaz" target="_blank"><img class="social-image" src="assets/images/github.svg" /></a>
        <a href="https://www.linkedin.com/in/william-valdez-97a47aa7/" target="_blank"><img class="social-image" src="assets/images/linkedin.svg" /></a>
        <a href="https://www.behance.net/williamvaldez" target="_blank"><img class="social-image" src="assets/images/behance.svg" /></a>
        <a href="https://www.youtube.com/channel/UCHNW8Dpl--qOnn5SXOH84iA" target="_blank"><img class="social-image" src="assets/images/youtube.svg" /></a>
    </div>
    <div style=" text-align: center; padding: 20px;" fxFlex="33%" >
        <h1>designer</h1>
        <p class="text-wrap">UI/UX Designer with a passion for designing beautiful and functional user experiences.</p>
    </div>

    <div >
        <img src="assets/images/profile.png" style="height: 300px" />
        <h1 style="text-align: center; font-size: 30px;">Hi, I'm William</h1>
    </div>

    <div style=" text-align: center; padding: 20px;" fxFlex="33%" >
        <h1>{{'< coder >'}}</h1>
        <p class="text-wrap">Front End Developer who focuses on writing clean, elegant and efficient code.</p>
    </div>
</div>

<mat-list class="technology hide-on-init" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center" animateOnScroll animationName="animated-d-05 animated bounceInUp">
    <div *ngFor="let item of techs" fxFlex="20%">
        <img src="{{url}}/{{ item.image.url }}" />
        <!--h3>{{ item.name }}</h3-->
    </div>
</mat-list>

<div class="portfolio hide-on-init" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center" animateOnScroll animationName="animated bounceInUp">
    <div class="button" fxFlex="10%">
        <h2>Portfolio</h2>
        <button mat-raised-button color="primary" [routerLink]="'portfolio'">See more</button>
    </div>

    <div class="portfolios" fxLayout="row wrap" fxFlex="80" fxLayout.xs="column"  fxLayoutAlign="center" style="width: 100%;" >
        <mat-card *ngFor="let brief of briefs | slice:0:4;" fxFlex="30" style="" class="mat-elevation-z5 pointer" [routerLink]="['/portfolio/'+brief.id]">
            <mat-carousel
            timings="250ms ease-in" [autoplay]="true" [interval]="5000" xx="{ arrowForward: 'assets/images/forward.svg', arrowBack: 'assets/images/back.svg' }"
                color="accent" maxWidth="auto" [proportion]="100" [slides]="5"
                [loop]="true" [hideArrows]="true" [hideIndicators]="true"
                [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr"
                >
                <mat-carousel-slide #matCarouselSlide *ngFor="let image of brief.images; let i = index"
                    [image]="url + '/' + image.url" overlayColor="#00000040" [hideOverlay]="true" >
                    <div class="name">
                        <p>{{ brief.name }}</p>
                    </div>
                </mat-carousel-slide>
            </mat-carousel>

        </mat-card>
    </div>
</div>

<app-contact class="hide-on-init" animateOnScroll animationName="animated fadeIn"></app-contact>
