
@use '@angular/material' as mat;

$custom-palette: (
  50: #e0edf9,
  100: #b3d2ef,
  200: #80b4e5,
  300: #4d95da,
  400: #267fd2,
  500: #0068ca,
  600: #0060c5,
  700: #0055bd,
  800: #004bb7,
  900: #003aab,
  A100: #d4e0ff,
  A200: #a1baff,
  A400: #6e94ff,
  A700: #5582ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

// Dark theme color palettes
$dark-primary: mat.define-palette($custom-palette, 900);
// $dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-accent: mat.define-palette($custom-palette, 400);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);

$typography-config: mat.define-typography-config(
  $font-family: 'Manrope',
  $headline-1: mat.define-typography-level(112px, 112px, 300),
  $headline-2: mat.define-typography-level(56px, 56px, 400),
  $headline-3: mat.define-typography-level(45px, 48px, 400),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $subtitle-2: mat.define-typography-level(15px, 24px, 400),
  $body-1: mat.define-typography-level(14px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500)
);

// Create dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  ),
  typography: $typography-config,
  density: 0
));

// Aplica el tema oscuro
.dark {
  transition:
    background-color 1s ease-in-out,
    color 1s ease-in-out,
    border-color 1s ease-in-out,
    box-shadow 1s ease-in-out;

  @include mat.all-component-themes($dark-theme);

  --primary: #003aab;
  --accent: #267fd2;
  --warning: rgb(248, 41, 41);

  --primary-rgb: 0, 58, 171;
  --accent-rgb: 38, 127, 210;
  --warning-rgb: 248, 41, 41;

  --background: #222;
  --foreground: #fff;
  --background-rgb: 33, 33, 33;
  --foreground-rgb: 255, 255, 255;
  a {
    color: #4d88fd;
    text-decoration: none;
  }
}
